<div id="box"><span><div id="title0">USEPA Statistical Water Quality Modeling Survey</div></span>
  The purpose of this survey is to improve data sharing and catalogue predictive modeling performance for
  you, the water quality modeler. The survey is designed for individuals directly involved in the model development
  process, and includes questions regarding the modeled site's characteristics and model parameters. To query and
  obtain information from this survey, visit the <a routerLink="/search">database query</a>.
</div>

<div id="box">
  <!-- user id info -->
  <div class="query-args">
    <div id="title1">Email:</div>
    <label for="eMail" hidden="true">Enter email</label>
    <input type="email" name="Email" id="eMail" size="50" maxlength="75" value="">

    <div id="title1"><span class="required_field">*</span> Organization/Company:</div>
    <label for="org" hidden="true">Enter your organization</label>
    <input type="text" name="Affiliation" id="org" size="50" maxlength="75" value="">

    <div id="title1"><span class="required_field">*</span> Beach/Site Name:</div>
    <label for="site" hidden="true">Enter the site or beach name</label>
    <input type="text" name="Beach" id="site" size="50" maxlength="75" value="">

    <div id="title1"><span class="required_field">*</span> Beach Act ID (use NA if not applicable):</div>
    <label for="actId" hidden="true">Enter beach act ID, use N A if not applicable</label>
    <input type="text" name="ActID" id="actId" size="50" maxlength="75" value="">

    <div id="title1"><span class="required_field">*</span> State/Region:</div>
    <label for="state" hidden="true">Enter state</label>
    <select name="State" id="state" style="width:175px">
      <option value=""></option>
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
      <option value="CA">California</option>
      <option value="CO">Colorado</option>
      <option value="CT">Connecticut</option>
      <option value="DE">Delaware</option>
      <option value="DC">District Of Columbia</option>
      <option value="FL">Florida</option>
      <option value="GA">Georgia</option>
      <option value="GU">Guam</option>
      <option value="HI">Hawaii</option>
      <option value="ID">Idaho</option>
      <option value="IL">Illinois</option>
      <option value="IN">Indiana</option>
      <option value="IA">Iowa</option>
      <option value="KS">Kansas</option>
      <option value="KY">Kentucky</option>
      <option value="LA">Louisiana</option>
      <option value="ME">Maine</option>
      <option value="MD">Maryland</option>
      <option value="MA">Massachusetts</option>
      <option value="MI">Michigan</option>
      <option value="MN">Minnesota</option>
      <option value="MS">Mississippi</option>
      <option value="MO">Missouri</option>
      <option value="MT">Montana</option>
      <option value="NE">Nebraska</option>
      <option value="NV">Nevada</option>
      <option value="NH">New Hampshire</option>
      <option value="NJ">New Jersey</option>
      <option value="NM">New Mexico</option>
      <option value="NY">New York</option>
      <option value="NC">North Carolina</option>
      <option value="ND">North Dakota</option>
      <option value="OH">Ohio</option>
      <option value="OK">Oklahoma</option>
      <option value="OR">Oregon</option>
      <option value="PA">Pennsylvania</option>
      <option value="PR">Puerto Rico</option>
      <option value="RI">Rhode Island</option>
      <option value="SC">South Carolina</option>
      <option value="SD">South Dakota</option>
      <option value="TN">Tennessee</option>
      <option value="TX">Texas</option>
      <option value="UT">Utah</option>
      <option value="VT">Vermont</option>
      <option value="VA">Virginia</option>
      <option value="WA">Washington</option>
      <option value="WV">West Virginia</option>
      <option value="WI">Wisconsin</option>
      <option value="WY">Wyoming</option>
      <option value=""></option>
      <option value="AFR">Africa</option>
      <option value="AUS">Australia</option>
      <option value="CAN">Canada</option>
      <option value="CRB">Carribean</option>
      <option value="CNA">Central America</option>
      <option value="CHN">China/Southeast Asia</option>
      <option value="EEU">Eastern Europe</option>
      <option value="IND">India</option>
      <option value="MDT">Mediterranean</option>
      <option value="MEX">Mexico</option>
      <option value="MDE">Middle East</option>
      <option value="RUS">Russia</option>
      <option value="STA">South America</option>
      <option value="WEU">Western Europe</option>
    </select>

    <div id="title1"><span class="required_field">*</span> County:</div>
    <label for="county" hidden="true">Enter county</label>
    <input type="text" name="County" id="county" size="50" maxlength="75" value="">
  </div>

  <!-- Beach Descriptors -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> Beach Descriptors:</div>
    <table>
      <colgroup>
        <col width="150"><col width="150"><col width="300">
      </colgroup>
      <tbody>
      <tr>
        <label for="bdShallow" hidden="true">Beach descriptor is shallow</label>
        <td><input type="checkbox" name="Shallow" id="bdShallow">Shallow</td>
        <label for="bdDeep" hidden="true">Beach descriptor is deep</label>
        <td><input type="checkbox" name="Deep" id="bdDeep">Deep<br></td>
      </tr>
      <tr>
        <label for="bdOpen" hidden="true">Beach descriptor is open</label>
        <td><input type="checkbox" name="Open" id="bdOpen">Open<br></td>
        <label for="bdClosed" hidden="true">Beach descriptor is closed</label>
        <td><input type="checkbox" name="Closed" id="bdClosed">Closed</td>
      </tr>
      <tr>
        <label for="bdFresh" hidden="true">Beach descriptor is freshwater</label>
        <td><input type="checkbox" name="Fresh" id="bdFresh">Freshwater</td>
        <label for="bdMarine" hidden="true">Beach descriptor is marine</label>
        <td><input type="checkbox" name="Marine" id="bdMarine">Marine<br></td>
      </tr>
      <tr>
        <td colspan="3">
          <div>
            <label for="bdOtherCheck" hidden="true">Tick this box to add other descriptors</label>
            <input type="checkbox" name="BDOther" id="bdOtherCheck" (click)="toggleDisable('bdOther')">Other (please specify)
            <label for="bdOther" hidden="true">Enter other beach descriptors here</label>
            <input type="text" name="BDOtherText" id="bdOther" size="50" maxlength="300" class="disabled">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    </div>

  <!-- Organism Modeled -->
  <div class="query-args" (click)="radioDisable($event, 'omOther')">
    <label for="omTitle" hidden="true">Choose one of the following choices for the organism modeled</label>
    <div id="title2"><span class="required_field">*</span> <textarea id="omTitle">What organism/condition was modeled?</textarea></div>
    <label for="omEcoli" hidden="true">E coli</label>
    <input type="radio" name="RV" id="omEcoli" value="1">E.coli<br>
    <label for="omEnterococci" hidden="true">Enterococci</label>
    <input type="radio" name="RV" id="omEnterococci" value="2">Enterococci<br>
    <label for="omMicrocyctin" hidden="true">Microcystin HABs</label>
    <input type="radio" name="RV" id="omMicrocyctin" value="3">Microcystin/HABs<br>
    <label for="omOtherCheck" hidden="true">Tick this box to enter an orgaism that is not listed</label>
    <input type="radio" name="RV" id="omOtherCheck" value="4">Other (please specify)
    <label for="omOther" hidden="true">Enter an organism not listed</label>
    <input type="text" name="RVText" id="omOther" size="50" maxlength="80" class="disabled">
  </div>

  <!-- Advisory Level -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> What is your
      <div class="tooltip">advisory level<span
        class="tooltiptext">For example: "235 CFU/100 mL" for plated E. coli, etc.</span></div>
      for the modeled organism/condition?
    </div>
    <input type="text" name="Threshold" id="adviLevel" size="50" maxlength="150" value="">
  </div>

  <!-- Days Per Year -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> How many days per year is this site typically closed due to
      poor water quality conditions?
    </div>
    <input type="number" style="width:50px" name="exceed" id="daysPerYear" min="0" max="365">
  </div>

  <!-- Software Package -->
  <div class="query-args" (click)="radioDisable($event, 'spOther')">
    <div id="title2"><span class="required_field">*</span> What software package was used to develop the model?</div>
    <input name="STAT" id="spVB" value="1" type="radio">Virtual Beach<br>
    <input name="STAT" id="spR" value="2" type="radio">R<br>
    <input name="STAT" id="spSAS" value="3" type="radio">SAS<br>
    <input name="STAT" id="spExcel" value="4" type="radio">Excel<br>
    <input name="STAT" id="spOtherCheck" value="5" type="radio">Other (please specify)
    <input name="STATText" id="spOther" size="50" maxlength="80" class="disabled" type="text">
  </div>

  <!-- Statistical Model -->
  <div class="query-args" (click)="radioDisable($event, 'smOther')">
    <div id="title2"><span class="required_field">*</span> What type of statistical model was built?</div>
    <input type="radio" name="ModelType" value="1" id="smMLR">MLR (Multiple Linear Regression)<br>
    <input type="radio" name="ModelType" value="2" id="smGBM">GBM (Generalized Boosting Method)<br>
    <input type="radio" name="ModelType" value="3" id="smPLS">PLS (Partial Least Squares)<br>
    <input type="radio" name="ModelType" value="4" id="smOtherCheck">Other (please specify)
    <input type="text" name="ModelTypeText" id="smOther" size="50" maxlength="80" class="disabled">
  </div>

  <!-- Time Period -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> What
      <div class="tooltip">time period<span
        class="tooltiptext">For example: summer 2017, 2015-2017 beach seasons, etc.</span></div>
      was this model used for?
    </div>
    <input type="text" name="Time" id="timePeriod" size="50" maxlength="80">
  </div>

  <!-- Model Usage -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> How was the model being used?</div>
    <input type="checkbox" name="PurpNow" id="muNow">Predict current water quality conditions
    (Nowcasting)<br>
    <input type="checkbox" name="PurpFore" id="muFore">Predict future water quality conditions
    (Forecasting)<br>
    <input type="checkbox" name="PurpRes" id="muResearch">Estimate the influence of potential microbial sources or
    environmental factors (Research)
  </div>

  <!-- Independent Variables -->
  <div class="query-args">
    <div id="title2"><span class="required_field">*</span> What independent variables were
      <div class="tooltip">significant
        <span class="tooltiptext">I.e., the IVs in your MLR/PLS model, or IVs with &gt;5% influence in your GBM model</span>
      </div>
      ?
    </div>
    <label for="checkbox_3" generated="true" class="error"></label>
    <table>
      <colgroup>
        <col width="200">
        <col width="200">
        <col width="200">
      </colgroup>
      <tbody>
      <tr>
        <td><input type="checkbox" id="ivAirTemp" name="AirTemp">Air Temp</td>
        <td><input type="checkbox" id="ivWaterTemp" name="WaterTemp">Water Temp</td>
        <td><input type="checkbox" id="ivDewpoint" cname="Dewpoint">Dewpoint</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="ivWindSpeed" name="Wind">Wind Speed/Velocity</td>
        <td><input type="checkbox" id="ivCurrentSpeed" name="Current">Current Speed/Velocity</td>
        <td><input type="checkbox" id="ivWaveHeight" name="Waves">Wave Height/Direction</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="ivRain" name="Rain">Antecedent Rainfall</td>
        <td><input type="checkbox" id="ivTurbidity" name="Turb">Turbidity</td>
        <td><input type="checkbox" id="ivTribDischarge" name="Disch">Tributary Discharge</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="ivCloudCover" name="Clouds">Cloud Cover</td>
        <td><input type="checkbox" id="ivUV" name="PAR">UV/PAR</td>
        <td><input type="checkbox" id="ivRelHumidity" name="RH">Relative Humidity</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="ivConductivity" name="Cond">Conductivity</td>
        <td><input type="checkbox" id="ivAbsorbance" name="Absorb">Water Absorbance</td>
        <td><input type="checkbox" id="ivDepth" name="Depth">Water Depth/Tidal Stage</td>
      </tr>
      <tr>
        <td><input type="checkbox" id="ivHumans" name="Human">Humans</td>
        <td><input type="checkbox" id="ivBirds" cname="Bird">Birds</td>
        <td><input type="checkbox" id="ivWildlife" name="Wild">Other Wildlife</td>
      </tr>
      <tr>
        <td colspan="3">
          <div>
            <input type="checkbox" name="IVOther" id="ivOtherCheck" (click)="toggleDisable('ivOther')">Other (please specify)
            <input type="text" name="IVsText" id="ivOther" size="50" maxlength="100" class="disabled">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Evaluation Criterion -->
  <div class="query-args" (click)="radioDisable($event, 'ecOther')">
    <div id="title2">
      <span class="required_field">*</span> What type of evaluation criterion was primarily used for model selection?
    </div>
    <input type="radio" name="MDS" id="ecRsquared" value="1">R-Squared/Adjusted R-Squared<br>
    <input type="radio" name="MDS" id="ecAicBic" value="2">AIC/AICc/BIC<br>
    <input type="radio" name="MDS" id="evSenSpecAcc" value="3">Sensitivity/Specificity/Accuracy<br>
    <input type="radio" name="MDS" id="ecPress" value="4">PRESS/RMSEP<br>
    <input type="radio" name="MDS" id="ecOtherCheck" value="5">Other (please specify)
    <input type="text" name="MDSText" id="ecOther" size="50" maxlength="80" class="disabled">
  </div>

  <!-- Model Performance -->
  <div class="query-args">
    <div class="model-perf">
      <div class="perf">
        <div class="perf-heading" id="title2">
          <a href="https://developer.epa.gov/apps/vbsurvey/explain.pdf" target="_blank">Fitted Model Performance</a>
        </div>
        <div>
          <span class="perf-arg">Sensitivity (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="sens" id="mpFitSensitivity" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">Specificity (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="spec" id="mpFitSpecificity" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">Accuracy (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="acc" id="mpFitAccuracy" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">R-Squared</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="Rsq" id="mpFitRsquared" min="0" max="1" step="0.01">
        </span>
        </div>
        <div>
          <span class="perf-arg"><label for="datasize">Dataset Size (N)</label></span>
          <span class="perf-val"><input type="number" style="width:60px" name="N" id="mpFitSetSize" min="1"></span>
        </div>
      </div>

      <div class="perf">
        <div class="perf-heading" id="title2">
          <a href="https://developer.epa.gov/apps/vbsurvey/explain.pdf" target="_blank">Predictive Model Performance</a>
        </div>
        <div>
          <span class="perf-arg">Sensitivity (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="sens" id="mpPredSensitivity" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">Specificity (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="spec" id="mpPredSpecificity" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">Accuracy (%)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="acc" id="mpPredAccuracy" min="0" max="100">
        </span>
        </div>
        <div>
          <span class="perf-arg">Predictions (N)</span>
          <span class="perf-val">
          <input type="number" style="width:60px" name="Rsq" id="mpPredPredictions" min="0" max="1" step="0.01">
        </span>
        </div>
      </div>
    </div>
  </div>


  <div id="captcha-container">
    <!--<img id="captcha" src="securimage/securimage_show.php" alt="CAPTCHA Image">-->
    <input type="text" name="captcha_code" size="10" maxlength="6">
    <a href="#"
       onclick="document.getElementById('captcha').src ='securimage/securimage_show.php?' + Math.random(); return false">[
      Different Image ]</a>
  </div>

  <br>

  <div id="controls">
      <em>Fields marked with <span class="required_field">*</span> are required</em>
      <div>
        <button type="submit" value="Submit" name="formSubmit" (click)="submitSurvey()">Submit Survey</button>&nbsp;&nbsp;&nbsp;
        <button (click)="clearForm()">Reset Survey</button>
      </div>
  </div>

  <br>

  <div id="title1-centered">Thank you for your time and information!</div>
</div>

<div id="dev-controls">
  <button><a routerLink="/home">Home</a></button>
  <button><a routerLink="/survey">Survey</a></button>
  <button><a routerLink="/search">Search</a></button>
</div>
