.box {
  display: block;
  margin: 0 auto;
  width: 800px;
  overflow: auto;
  font-style: italic;
  padding: 2px;
  text-align: justify;
  background: transparent;
}

.title0 {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.title1, .title1-centered {
  font-size: 20px;
  font-weight: bold;
}
.title1-centered {
  text-align: center;
}

.title2 {
  font-size: 18px;
  font-weight: bold;
}

.query-args {
  margin: 2em 1em;
}

.model-perf {
  text-align: center;
}
.perf {
  display: inline-block;
  margin: 0 20px;
}
.perf-heading {
  text-align: center;
}
.perf-arg {
  float: left;
}
.perf-val {
  float: right;
}

#captcha-container, #controls, #dev-controls {
  display: block;
  text-align: center;
}
#controls, #dev-controls button {
  margin: 0 1em;
}

.button {
  display: inline-block;
  padding: 6px 6px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: Teal;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px gray;
}

.disabled
{
  background-color: darkgrey;
}

.enabled
{
  background-color: white;
}

.button:hover {
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.selected {
  background-color: brown;
  color: #FFF;
}

.restable {
  border-collapse: collapse;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 400px;
  background-color: dimgray;
  color: white;
  text-align: center;
  border-radius: 6px;
  font-size: 16px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent dimgray transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.required_field
{
  color:red;
  font-weight: bold;
}
